<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Crear empleado</title>
    <link rel="stylesheet" th:href="@{/css/crear.css}">
</head>

<body>
    <div th:class="container">
        <h2 id="encabezado">Crear Empleado</h2>
        <form th:action="@{/empleado/guardarEmpleado}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido"><br>

            <label for="numero_identificacion">Documento de Identidad:</label>
            <input type="text" id="numero_identificacion" name="numero_identificacion"><br>

            <label for="nDespacho">Despacho del empleado:</label>
            <input type="text" id="nDespacho" name="nDespacho"><br>

            <label for="anioIncorporacion">Año de incorporacion del empleado:</label>
            <input type="text" id="anioIncorporacion" name="anioIncorporacion"><br>

            <label for="estadoCivil">Estado Civil:</label>
            <select id="estadoCivil" name="estadoCivil">
                <option th:each="estado : ${estadoCivilValues}" th:value="${estado}" th:text="${estado.estado}">
                </option>
            </select><br>

            <button type="submit">Guardar</button>
        </form>
    </div>
</body>

</html>